.main-body {
  background: #151838;
  background-size: cover;
  background-position: center;
  background-image: url("/background.png")
}

.landing-page {
  height: 80vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.main {
  text-align: center;
  margin: auto;
  max-width: 1000px;
  padding: 2rem;
  color: white;
}

.main h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.main p {
  font-size: 20px;
  margin-bottom: 2rem;
  max-width: 600px;
}

button {
  background-color: #3B82F6;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
