.landing-page {
  height: 100%;
  width: 100%;
  background: #151838;
  background-image: url("/background3.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  animation: background-move 30s linear infinite;
}

@keyframes background-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes background-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.landing-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.landing-main {
  text-align: center;
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-main h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.landing-main p {
  font-size: 20px;
  margin-bottom: 2rem;
  max-width: 600px;
}

.landing-main .primary-button {
  width: 375px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto 0;
  padding: 0 30px;
}